/*
Assessment 2 Team Project
Author: Peter Goodwin
Version: 1.0

INDEX
--Body--
--Wrappers--
--Nav--
--Header--
*/



body{
  font-family: 'Roboto', sans-serif;
}

/* --Navigation menu-- */
.nav{
  padding: 0px 20px !important;
  height: 80px;
  align-content: center;
}
.nav-link, .fa-wifi{
  color: #343a40;
  cursor: pointer;
}
.nav-link:hover{
  color: #89A4CA;
}
/* .active{
  color: #89A4CA;
} */
/* Header */
.header_bg_img{
  width: 100%;
  height: 500px;
  background-image: url("../images/background_image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.custom_title{
  font-family: 'Roboto', sans-serif;
  font-size: 4em;
  color: #fff;
  line-height: 5.2;
  text-transform: uppercase;
}
.sub_title{
  font-family: 'Roboto', sans-serif;
  font-size: 4em;
  color: #fff;
  line-height: 5.2;
  text-transform: uppercase;
}
.custom_paragraph{
  color: #fff !important;
}
.btn-secondary{
  background-color: #89A4CA !important;
  border-color: none !important;
}
.header_banner{
  background-image: url("../images/background_image2.jpg");
  background-position: -10px -170px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin-bottom: 50px;
  filter: grayscale(100%);
}
/*rows*/
.row{
  margin-bottom: 60px;
  text-align: center;
}
.profile_img{
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 220px;
}
.bio_content{
  text-align: justify;
  text-align-last: center;
}
.profile_bio{
  height: 250px;
}
.staticBtn{
  position: absolute !important;
  bottom: 20px;
}
/* Footer */
footer{
  background-color: #F8F9FA;
  padding: 20px 0px;
  box-sizing: border-box;
  margin-top: 2em;
}
footer .fab{
  padding: 5px;
}

@media only screen and (max-width: 870px) {
  .profile_bio{
    height: 270px;
  }
}

@media (min-width: 768px){
  .container {
      max-width: 980px !important;
  }
}
